* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(253, 253, 255);
}

nav {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding: 7px;
  background-color: rgb(5, 5, 5);
}

nav a {
  font-size: 14px;
  text-decoration: none;
  line-height: 3;
  color: rgb(253, 252, 252);
}

nav a:hover {
  background-color: rgb(46, 47, 48);
}
