* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding: 7px;
  background-color: rgb(5, 5, 5);
}

nav a {
  border-radius: 30%;
  font-size: 14px;
  text-decoration: none;
  line-height: 3;
  color: rgb(248, 242, 242);
}

nav a:hover {
  background-color: rgb(67, 68, 68);
  font-size: 110%;
}

main {
  width: 100%;
  height: 100vh;
}

.index-main {
  font-size: 500%;
  background-image: Url(file-20210111-23-bqsfwl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(248, 242, 242);
  text-align: center;
  padding-top: 140px;
}

.facts-main {
  background-color: rgb(255, 254, 254);
}

.aboutus-main {
  background-color: rgb(248, 248, 252);
}

.country-main {
  background-color: rgb(252, 248, 249);
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-evenly;
  padding-top: 40px;
}
.countrysmallerbox {
  justify-content: space-evenly;
  border-style: solid;
  border-color: rgb(5, 5, 5);
  border-width: 0,9rem;
  height: 41%;
}
