* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(12, 1, 1);
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  line-height: 3;
  color: rgb(252, 249, 249);
}

nav a:hover {
  background-color: rgb(104, 108, 109);
}

.Geografus {
  color: rgb(69, 17, 192);
  justify-content: center;
}

body {
  background-image: "./file-20210111-23-bqsfwl.jpg";
}

