* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding: 7px;
  background-color: rgb(5, 5, 5);
}

nav a {
  border-radius: 30%;
  font-size: 14px;
  text-decoration: none;
  line-height: 3;
  color: rgb(252, 250, 250);
}

nav a:hover {
  background-color: rgb(67, 68, 68);
  font-size: 110%;
}

.Geografus {
  position: fixed;
  top: 24%;
  left: 37%;
  font-size: 500%;
  color: rgb(244, 242, 248);
}

body {
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-image: Url(file-20210111-23-bqsfwl.jpg);
  background-attachment: fixed;
}
